# Dependencies
node_modules/

# Environment variables
backend-api/.env
frontend-spa/.env

# Build output
frontend-spa/dist/

# Uploaded files
backend-api/public/avatars/*
backend-api/public/image/*
!backend-api/public/avatars/.gitkeep
!backend-api/public/image/.gitkeep

# Prisma generated
backend-api/node_modules/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
